*.suo
*.user
!db.config
bin
obj
packages
/.vs
*.idea
*.iws
*.iml
*.ipr
*.log

*/.idea
*/*.iws
*/*.iml
*/*.ipr
/.idea/
/obj
/obj
/Tools/curl.exe
/Tools/ffmpeg.exe
/Tools/ffplay.exe
/Tools/DataQuery.sql
